@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-d20 {
    @apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-300
    dark:[&::-webkit-scrollbar-track]:bg-neutral-700
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
}

.markdown {
    @apply
    prose-headings:text-sand-d8
    prose-headings:font-rpgSans
    prose-headings:font-normal
    prose-p:text-sand-d6
    prose-img:rounded-xl
    prose-a:text-mage-d10
    prose-strong:text-sand-d6
    prose-hr:border-charcoal-d8
    hover:prose-a:text-mage-d8
    prose-hr:my-4
    prose-li:text-sand-d6
    prose-li:pl-4
}